@import './Filter.css';
@import './Search.css';

div.filterContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;

    margin: 20px 0;
}