.green-neon{
    border: $neon_green solid 2px;
    box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem $neon_green,
              0 0 0.8rem $neon_green,
              0 0 2.8rem $neon_green,
              inset 0 0 1.3rem $neon_green;
}

.red-neon{
    border: $neon_red solid 2px;
    box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem $neon_red,
              0 0 0.8rem $neon_red,
              0 0 2.8rem $neon_red,
              inset 0 0 1.3rem $neon_red;
}

.yellow-neon{
    border: $neon_yellow solid 2px;
    box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem $neon_yellow,
              0 0 0.8rem $neon_yellow,
              0 0 2.8rem $neon_yellow,
              inset 0 0 1.3rem $neon_yellow;
}

.purple-neon{
    border: $neon_purple solid 2px;
    box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem $neon_purple,
              0 0 0.8rem $neon_purple,
              0 0 2.8rem $neon_purple,
              inset 0 0 1.3rem $neon_purple;
}

.blue-neon{
    border: $neon_blue solid 2px;
    box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem $neon_blue,
              0 0 0.8rem $neon_blue,
              0 0 2.8rem $neon_blue,
              inset 0 0 1.3rem $neon_blue;
}

.pink-neon{
    border: $neon_pink solid 2px;
    box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem $neon_pink,
              0 0 0.8rem $neon_pink,
              0 0 2.8rem $neon_pink,
              inset 0 0 1.3rem $neon_pink;
}