$spacer: 10%;

$background_color: #121212;
$text_color: #fff;

$radius: 10px;

$font_family: 'Roboto Mono', monospace;

$neon_yellow: #e6fb04;
$neon_red: #ff0000;
$neon_green: #33ff00;
$neon_blue: #0062ff;
$neon_pink: #ff00ff;
$neon_purple: #cc00ff;