.showContainer{
    display: flex;
    flex-direction: row;

    background-color: rgba(255,255,255, 0.1);

    border-radius: 10px;

    margin-bottom: 20px;
}

img.showImg{
    width: 30%;
    border-radius: 10px 0 0 10px;
}

.showInfo{
    position: relative;
    width: 60%;
    margin: 0;
    padding-left: 5%;
    padding-right: 5%;

    display: flex;
    flex-direction: column;
}

.infoHeader{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-top: 20px;
}

.episodeTitle{
    margin: 0 1em 0 0;
}

.showName{
    margin: 0.5em 0 0.7em;
}

.showType{
    display: inline-block;
    padding: 0.5em;
    border-radius: 10px;
    background-color: #fe2525;
    border: #fe2525 solid 1px;
    align-self: flex-start;
}

.airtime{
    font-family: 'Oxanium', cursive;
    font-size: 50px;
    margin: 0;
}

.showDescription{
    font-size: 20px;

    max-height: 250px;
    padding-right: 20px;
    overflow-y: auto;
}

.tileBtn{
    border: 2px solid #fff;
    margin-top: 25px;
    padding: 0.5em 1em;
    border-radius: 10px;
    background-color: #2a2a2a;
    color: #fff;

    &:hover{
        background-color: #fff;
        color: #2a2a2a;
    }
    &:hover>.episodeLink{
        background-color: #fff;
        color: #2a2a2a;
    }
    
    align-self: flex-end;
    justify-self: flex-end;
}

.episodeLink{
    text-decoration: none;
    color: white;
    font-family: $font_family;
}
